.DS_Store
*.swp
*.swo
Gemfile.lock
log/*.log
tmp/
tmp/restart.txt

.project
*.tar.gz
*.log
*.pid
.idea

config/database.yml
.sublime-project


/.bundle
/build

# Ignore cache
/.sass-cache
/.cache
/.sass_cache

